# PostgreSQL
DB_USER=
DB_NAME=
DB_PASSWORD=

# Prisma
DATABASE_URL="postgresql://DB_USER:DB_PASSWORD@localhost:5433/DB_NAME?schema=public"

# openssl.exe rand -base64 32
AUTH_SECRET=

# PayPal https://developer.paypal.com/dashboard
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token
#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders

# Cloudinary
CLOUDINARY_URL="cloudinary://API_KEY:API_SECRET@CLOUD_NAME"